<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col">
      <% if @range == "Genre" %>
      <table class="table table-ho">
        <thead>
          <tr>
            <th class="active text-center"><h5 class="search_genre">ジャンル検索</h5></th>
          </tr>
        </thead>
        <tbody>
          <% @genres.each do |genre| %>
            <tr>
              <td class="underline"><%= genre.name %></td>
          <% end %>
        </tbody>
      </table>
      <% else %>
      <table class="table table-ho">
        <thead>
          <tr>
            <th class="active text-center"><h5 class="search_genre">商品検索</h5></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td class="underline"><%= item.name %></td>
          <% end %>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
