<div class="container">
  <div class="row">
     
    <div class="col-md-2">
      <h5>ジャンル検索</h5>
      <div class="card">
        <ul class="list-group list-group-flush">
          
        </ul>
      </div>
    </div>
     
    <div class="carousel slide col-md-10 mt-5" data-ride="carousel" style="max-width: 100%; height: auto;">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/assets/24234001_s.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img src="/assets/928365_s.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img src="/assets/3045863_s.jpg" alt="Third slide">
        </div>
      </div>
    </div>
    <p class="my-4 fs-3 text-center mx-auto">ようこそ、<%= link_to "ながのCAKE", about_path %>へ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も<%= link_to "商品", items_path %>の閲覧はできますが、<br>
      購入には<%= link_to "会員登録", new_customer_registration_path %>が必要になります。</p>
  </div>

  <div class="row">
    <div class="my-3 mx-auto">
      <h3>新着商品</h3>
    </div>
  </div>

  

  <div class="row">
    <div class="col-md-11 text-right mb-3">
      <h5><%= link_to "もっと見る>", items_path %></h5>
    </div>
  </div>
</div>
