<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 mb-3 offset-sm-1">
      <p><%= @customer.last_name + @customer.first_name %>さんの会員情報編集</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
      <table class="table">
        <%= form_with model: @customer, url:admin_customer_path(@customer.id), method: :patch, local: true do |f| %>
        <tr>
          <th></th>
        </tr>
      </table>
    </div>
  </div>
</div>