<footer class="site-footer" style="height: 50px; background-image: url('assets/background.jpg'); background-size: cover;">
    <div class="row">
        <div class="mx-auto">
            <p class="text-light d-flex align-items-center"></p>
        </div>
    </div>
</footer>