<header class="sticky-top">
  <nav class="navbar navbar-expand-lg" style="background-color: snow;">
    <div class="container-md">
      <div class="mx-3">
        <h1>
          <%= link_to root_path do %>
            <div class="logo-container">
              <%= image_tag("background2.jpg", alt: "Logo", style: "opacity: 0.5;") %>
            </div>
          <% end %>
        </h1>
      </div>
    </div>
      <h1 class="text-center mt-3" style="font-family: 'Sacramento', cursive;">Nagano Cake</h1>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if request.path.match(/\/admin(\/)?/) %>
            <%= render "layouts/admin_header" %>
          <% else %>
            <%= render "layouts/customer_header" %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
