<div class="container">
  <div class="row">
    <div class="ml-auto">
      <%= form_with url: search_path, local: true, method: :get, html: { class: "search-form" } do |f| %>
        <div class="input-group">
        <%= f.text_field :word, class: "form-control", placeholder: "キーワードを入力" %>
          <%= f.button class: "btn btn-primary", type: "submit" do %>
            検索
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>