<table class="table table-ho">
    <thead>
      <tr>
        <th class="active text-center"><h5 class="search_genre">ジャンル一覧</h5></th>
      </tr>
    </thead>
    <tbody>
      <% @genres.each do |genre| %>
        <tr>
          <td class="underline" style="color: darkslateblue;">
            <%= link_to search_path do %>
              <%= genre.name %>
            <% end %>
          </td>
      <% end %>
    </tbody>
</table>